# Copy this to .env and fill in the values
SECRET_KEY=
ALGORITHM=HS256

AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
REDIRECT_URI=http://localhost:8080/auth/callback

AZURE_ORG_ADMIN_GROUP_ID=
AZURE_MEMBER_GROUP_ID=

DATABASE_URL=